# Dependencies
node_modules/

# Build outputs
dist/
build/

# Test results
test-results/
playwright-report/
allure-results/
allure-report/

# Logs
logs/
*.log

# Temporary files
*.tmp
.DS_Store

# Other
coverage/
.next/
